<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="../styles.css">

    <title>Authentication | <%= signUp ? "Sign up": "Sign in" %></title>
</head>
<body>
    <section>
        <h2><%= signUp ? "Sign up": "Sign in" %></h2>
        <form action="<%= signUp? '/api/v1/auth/sign-up' : '/api/v1/auth/sign-in' %>" method="post">
            <!-- conditionaly render username based on where this is sign up of sign in page -->
            <% 
            if(signUp) { %>
            <div>
                <label for="username">Username</label>
                <input id="username" type="text" name="username">
            </div>
            <%}%>

            <div>
                <label for="email">Email</label>
                <input id="email" type="email" name="email"></div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password">
            </div>
            <div>
                <button type="submit"><%= signUp ? "Sign up": "Sign in" %></button>
            </div>
        </form>

        <div>
            <p>
                <%= signUp? "Already have an account " : "Dont have an account " %>
            <a href="<%= signUp? '/auth/sign-in' : '/auth/sign-up' %>"> 
                <%= signUp ? "Sign in": "Sign up" %>
            </a>

            </p>
        </div>

        <!-- Oauth providers -->
         <div>
            <p>Or continue with</p>

            <!-- Buttons for Outh providers -->
             <div>

             </div>
         </div>

    </section>
    
</body>
</html>